# CONDATIONAL STATEMENTS, LOOPS, MODULES 
## Conditional Statements

## 1. if Condition 
### Example 1: Checking multiple conditions with logical operators

In [1]:
age = 25
has_license = True
is_student = False

if age >= 18 and has_license:
    print("You are eligible to drive.")
elif age >= 16 and is_student:
    print("You can apply for a student license.")
else:
    print("You are not eligible to drive.")

You are eligible to drive.

### Example 2: Checking conditions within a range

In [2]:
temperature = 28
if 25 <= temperature <= 30:
    print("The weather is comfortable.")
elif temperature > 30:
    print("It's hot outside.")
else:
    print("It's cool outside.")

The weather is comfortable.

### Example 3: Using ternary conditional operator

In [4]:
score  = 70
result = "pass" if score >= 60 else "fail"
print(f"The result is: {result}")

The result is: pass

### Example 4: Checking for specific values in a list

In [5]:
numbers = [1, 3, 5, 7, 9]

if 5 in numbers:
    print("5 is present in the list.")
else:
    print("5 is not present in the list.")

5 is present in the list.

### Example 5: Handling edge cases

In [8]:
# Example 5: Handling edge cases
value = None

if value is None:
    print("Value is not initialized.")
elif value == 0:
    print("Value is zero.")
else:
    print(f"The value is {value}.")

Value is not initialized.

# 2. Nested if Condition 
## Example 1: Nested conditions with logical operators

In [13]:
age = 25
has_license = True
is_student = False

if age >= 18:
    if has_license:
        print("You can drive legally.")
    else:
        print("You need to apply for a license.")
elif age >= 16 and is_student:
    print("You can apply for a student license.")
else:
    print("You are not eligible to drive.")

You can drive legally.

## Example 2: Checking multiple conditions with nested if-elif-else

In [15]:
# Example 2: Checking multiple conditions with nested if-elif-else
score = 85
attendance = 90

if score > 90:
    grade = 'A'
elif score > 80:
    if attendance > 85:
        grade = 'B'
    else:
        grade = 'B-'
else:
    grade = 'C'

print(f"Your grade is {grade}.")

Your grade is B.

## Example 3: Using nested conditions for complex business rules

In [17]:
is_admin = True
is_moderator = False
is_muted = False

if is_admin:
    print("You have full access.")
elif is_moderator and not is_muted:
    print("You have limited access as a moderator.")
else:
    print("You have basic user access.")

You have full access.

## Example 4: Checking for multiple criteria

In [19]:
temperature = 27
humidity = 70

if temperature > 25:
    if humidity > 60:
        print("It's hot and humid.")
    else:
        print("It's hot but not very humid.")
else:
    print("The temperature is moderate.")

It's hot and humid.

## Example 5: Complex nested conditions with else if

In [21]:
# Example 5: Complex nested conditions with else if
role = "admin"
logged_in = True
is_banned = False

if role == "admin":
    if logged_in and not is_banned:
        print("Welcome, admin!")
    else:
        print("Access denied.")
elif role == "moderator":
    print("Moderator privileges.")
else:
    print("You have limited access.")

Welcome, admin!

# 3. for Loop Examples
## Example 1: Iterating over a list

In [23]:
# Example 1: Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

## Example 2: Using enumerate for index and value

In [25]:
# Example 2: Using enumerate for index and value
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

## Example 3: Iterating over dictionary keys and values

In [27]:
# Example 3: Iterating over dictionary keys and values
person = {"name": "John", "age": 30, "city": "New York"}
for key, value in person.items():
    print(f"{key}: {value}")

name: John
age: 30
city: New York

## Example 4: Iterating over a range

In [29]:
# Example 4: Iterating over a range
for i in range(5):
    print(i)

0
1
2
3
4

# 4. Nested loops 
## Example 1. Square Pattern

In [4]:
# Example 1: Square Pattern
size = 5

for i in range(size):
    for j in range(size):
        print("* ", end="")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# Example 2. Right Triangle Pattern

In [5]:
 size = 5

for i in range(1, size + 1):
    for j in range(i):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *

## Example 3: Inverted Right Triangle Pattern

In [7]:

size = 5

for i in range(size, 0, -1):
    for j in range(i):
        print("* ", end="")
    print()

* * * * *
* * * *
* * *
* *
*

## Example 3: Using continue to skip iteration

In [57]:

count = 0
while count < 5:
    count += 1
    if count == 3:
        continue
    print(count)

1
2
4
5

## Example 4: Pyramid Pattern

In [56]:

size = 5

for i in range(size):
    for j in range(size - i - 1):
        print(" ", end="")
    for j in range(2 * i + 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

## Example 5: Hollow Rectangle Pattern

In [55]:

rows = 5
cols = 10

for i in range(rows):
    for j in range(cols):
        if i == 0 or i == rows - 1 or j == 0 or j == cols - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

**********
*        *
*        *
*        *
**********

## Example 6: Diamond Pattern

In [54]:

size = 7
mid = size // 2

for i in range(size):
    for j in range(abs(mid - i)):
        print(" ", end="")
    for j in range(size - 2 * abs(mid - i)):
        print("*", end="")
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

## Example 7: Number Pattern (Floyd's Triangle)

In [53]:

rows = 5
num = 1

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## Example 8: Letter Pattern (Alphabet Triangle)

In [52]:

import string

rows = 5
num = 65  # ASCII for 'A'

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(chr(num), end=" ")
        num += 1
    print()

A
B C
D E F
G H I J
K L M N O

## Example 9: Pascal's Triangle

In [51]:

rows = 5

for i in range(rows):
    num = 1
    for j in range(1, rows - i):
        print("  ", end="")
    
    for k in range(0, i + 1):
        print("  ", num, end="")
        num = int(num * (i - k) / (k + 1))
    print()

           1
         1   1
       1   2   1
     1   3   3   1
   1   4   6   4   1

## Example 10: Spiral Pattern

In [50]:

rows = 5
cols = 5

top = 0
bottom = rows - 1
left = 0
right = cols - 1
num = 1

while num <= rows * cols:
    for i in range(left, right + 1):
        print(num, end=" ")
        num += 1
    top += 1
    
    for i in range(top, bottom + 1):
        print(num, end=" ")
        num += 1
    right -= 1
    
    for i in range(right, left - 1, -1):
        print(num, end=" ")
        num += 1
    bottom -= 1
    
    for i in range(bottom, top - 1, -1):
        print(num, end=" ")
        num += 1
    left += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

# 5. While loop
## Example 1: Generating Fibonacci Sequence

In [49]:

def fibonacci_sequence(n):
    fib_sequence = []
    a, b = 0, 1
    count = 0
    
    while count < n:
        fib_sequence.append(a)
        a, b = b, a + b
        count += 1
    
    return fib_sequence

# Generate and print the first 10 Fibonacci numbers
n = 10
fib_numbers = fibonacci_sequence(n)
print(f"The first {n} Fibonacci numbers are: {fib_numbers}")

The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Example 2: Prime Number Checker

In [48]:

def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    
    i = 2
    while i * i <= number:
        if number % i == 0:
            return False
        i += 1
    
    return True

# Check prime numbers up to a specified limit
limit = 20
prime_numbers = []
number = 2

while len(prime_numbers) < limit:
    if is_prime(number):
        prime_numbers.append(number)
    number += 1

print(f"The first {limit} prime numbers are: {prime_numbers}")

The first 20 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

# 6. Do while loop
## Example 1: Simulation of a Process with Variable Control Flow

In [47]:

import random

# Initialize variables
total_attempts = 0
success_count = 0
max_attempts = 5

while True:
    # Simulate a task (e.g., a random event)
    success = random.choice([True, False])
    total_attempts += 1
    
    if success:
        success_count += 1
        print(f"Attempt {total_attempts}: Success!")
        # Break condition: Sufficient successes or max attempts reached
        if success_count >= 3 or total_attempts >= max_attempts:
            break
    else:
        print(f"Attempt {total_attempts}: Failure.")
        # Continue condition: Continue until max attempts reached
        if total_attempts >= max_attempts:
            print("Max attempts reached. Exiting.")
            break

print(f"Total attempts: {total_attempts}, Successful attempts: {success_count}")

Attempt 1: Success!
Attempt 2: Failure.
Attempt 3: Failure.
Attempt 4: Success!
Attempt 5: Success!
Total attempts: 5, Successful attempts: 3

## Example 2: Simulation of a Complex Iterative Task

In [46]:

import math

# Simulate a list of numbers or data points
data = [2, 5, 8, 11, 15, 20]
threshold = 50
sum_result = 0

while True:
    for number in data:
        sum_result += number
        if sum_result > threshold:
            break
    
    # Complex condition: Break if the sum exceeds threshold or other criteria
    if sum_result > threshold or len(data) > 10:
        break

    # Example of dynamically modifying data or conditions
    data.append(math.ceil(sum_result / 2))

print(f"Final sum: {sum_result}, Data length: {len(data)}")

Final sum: 61, Data length: 6

# 7. Function 
## Example 1: Matrix Multiplication

In [45]:

def matrix_multiply(matrix1, matrix2):
    if len(matrix1[0]) != len(matrix2):
        raise ValueError("Number of columns in matrix1 must be equal to number of rows in matrix2.")
    
    result = [[0 for _ in range(len(matrix2[0]))] for _ in range(len(matrix1))]
    
    for i in range(len(matrix1)):
        for j in range(len(matrix2[0])):
            for k in range(len(matrix2)):
                result[i][j] += matrix1[i][k] * matrix2[k][j]
    
    return result

# Example usage:
matrix1 = [
    [1, 2, 3],
    [4, 5, 6]
]

matrix2 = [
    [7, 8],
    [9, 10],
    [11, 12]
]

result = matrix_multiply(matrix1, matrix2)
for row in result:
    print(row)

[58, 64]
[139, 154]

## Example 2.Higher-Order Function Using Lambda Functions

In [44]:
def create_math_function(operation):
    if operation == '+':
        return lambda x, y: x + y
    elif operation == '-':
        return lambda x, y: x - y
    elif operation == '*':
        return lambda x, y: x * y
    elif operation == '/':
        return lambda x, y: x / y
    else:
        raise ValueError("Unsupported operation")

# Example usage:
addition = create_math_function('+')
result = addition(5, 3)
print(f"Addition result: {result}")

subtraction = create_math_function('-')
result = subtraction(10, 4)
print(f"Subtraction result: {result}")

multiplication = create_math_function('*')
result = multiplication(7, 2)
print(f"Multiplication result: {result}")

division = create_math_function('/')
result = division(15, 3)
print(f"Division result: {result}")

Addition result: 8
Subtraction result: 6
Multiplication result: 14
Division result: 5.0

# Example 3: Memoization for Efficient Fibonacci Calculation

In [38]:

def fibonacci(n, memo={}):
    if n in memo:
        return memo[n]
    if n <= 2:
        return 1
    memo[n] = fibonacci(n - 1, memo) + fibonacci(n - 2, memo)
    return memo[n]

# Example usage:
number = 10
result = fibonacci(number)
print(f"The {number}th Fibonacci number is: {result}")

The 10th Fibonacci number is: 55

## Collectively used

In [41]:

import random

def generate_random_numbers(count):
    """
    Function to generate a list of random numbers.
    """
    return [random.randint(1, 100) for _ in range(count)]

def calculate_statistics(numbers):
    """
    Function to calculate statistics (sum, average, max, min) of a list of numbers.
    """
    total_sum = sum(numbers)
    average = total_sum / len(numbers)
    maximum = max(numbers)
    minimum = min(numbers)
    
    return total_sum, average, maximum, minimum

def analyze_numbers(numbers):
    """
    Function to analyze a list of numbers and print results based on conditions.
    """
    total_sum, average, maximum, minimum = calculate_statistics(numbers)
    
    print(f"Generated Numbers: {numbers}")
    print(f"Total Sum: {total_sum}")
    print(f"Average: {average:.2f}")
    print(f"Maximum: {maximum}")
    print(f"Minimum: {minimum}")
    
    if maximum > 50:
        print("There are numbers greater than 50.")
    else:
        print("No numbers greater than 50 found.")
    
    even_numbers = [num for num in numbers if num % 2 == 0]
    odd_numbers = [num for num in numbers if num % 2 != 0]
    
    print(f"Even Numbers: {even_numbers}")
    print(f"Odd Numbers: {odd_numbers}")

# Generate a list of 10 random numbers
random_numbers = generate_random_numbers(10)

# Analyze the generated numbers
analyze_numbers(random_numbers)

Generated Numbers: [9, 42, 12, 39, 13, 70, 27, 60, 40, 90]
Total Sum: 402
Average: 40.20
Maximum: 90
Minimum: 9
There are numbers greater than 50.
Even Numbers: [42, 12, 70, 60, 40, 90]
Odd Numbers: [9, 39, 13, 27]